body {
  background-color: rgb(235, 193, 193);
}

@font-face {
  font-family: cherry;
  src: url(../fonts/cherrycreamsodaregular.ttf);
}

p,
li {
  font-family: "Courier New", Courier, monospace;
  color: rgb(95, 87, 90);
  font-size: 18px;
  padding: 0.2em;
  margin: 1rem 1rem 1.5rem 1rem;
}

h1,
h2,
h3 {
  font-family: "cherry";
  margin: 1rem 1rem 1.5rem 1rem;
  padding: 0.2em;
  color: rgb(146, 62, 90);
  padding: 0.2em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}

.cta-btn {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(146, 62, 90);
  color: rgb(255, 255, 255);
  font-family: cherry;
  padding: 10px 16px;
  border-radius: 20px;
  margin: 1rem 1rem 1.5rem 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.liste {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  padding: 10px 16px;
  margin: 1rem 1rem 1.5rem 1rem;
  background-color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

img {
  max-width: 100%;
  border: 3px solid rgb(255, 255, 255);
  display: block;
  height: auto;
  width: auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.galleri_main {
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  flex-wrap: wrap;
}
